* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/1234.png);
    background-size: cover;
}

.editprofile {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.editprofile h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.editprofile form {
    font-size: 20px;
}

.editprofile form .form-group {
    margin-bottom: 12px;
}

.editprofile form input[type="submit"] {
    font-size: 20px;
}

#subBtn a {
    font-size: 20px;
}

