* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.h1 {
    color: red;
}

.btl a {
    color: red;
    text-decoration: none;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
}

.btl {
    margin-top: 20px;
}